@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mabry Pro";
  src: url("../fonts/MabryPro-Regular/MabryPro-Regular.woff2") format("woff2"),
    url("../fonts/MabryPro-Bold/MabryPro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/TiemposText/TiemposText-Regular.otf") format("otf");
}
html,
body {
  scroll-behavior: smooth;
}
.no-scroll {
  overflow: hidden;
}
.liststyle li::marker {
  list-style-position: inside;
  margin: 0 !important;
}
.scroll {
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.drawer-height {
  height: calc(100vh - 72px);
}

/* CUSTOM SCROLLBAR */

.scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.classOverrides::-webkit-scrollbar {
  display: none;
}

.terms-and-condition-wraper h2 {
  @apply text-3xl sm:text-4.5xl font-bold font-mabry-pro pt-4 text-black-700 tracking-wider;
}
.terms-and-condition-wraper h6 {
  @apply text-base font-bold font-mabry-pro pb-1 pt-2 text-black-700;
}
.terms-and-condition-wraper p {
  @apply text-base font-normal font-mabry-pro pb-7 text-black-700;
}
.terms-and-condition-wraper li {
  @apply text-base font-normal font-mabry-pro text-black-700 list-none;
}
.privacy-policy-wraper p {
  @apply text-base font-normal font-mabry-pro pb-7 text-black-700;
}
.privacy-policy-wraper h6 {
  @apply text-base font-bold font-mabry-pro pb-1 pt-2 text-black-700;
}
.privacy-policy-wraper li {
  @apply text-base font-normal font-mabry-pro text-black-700 list-none;
}
.cus-map-wraper > div > div {
  @apply rounded-xl;
}
.card-image-content p {
  @apply text-base text-green-slate-800 font-mabry-pro mb-2;
}
.card-image-content p b {
  font-family: "circular" !important;
  font-weight: 900 !important;
}
.card-image-content a {
  @apply hover:text-[#0056b3] text-[#007bff];
}
.card-image-content ul li {
  @apply text-base text-green-slate-800 font-mabry-pro list-disc ml-2;
}
.card-image-content span {
  @apply text-base text-green-slate-800 font-mabry-pro block w-full;
}
.card-image-content h6 {
  @apply text-base text-green-slate-800 font-mabry-pro font-bold;
}
.card-image-content h5 {
  @apply text-xl text-green-slate-800 font-mabry-pro font-bold leading-6 mb-5;
}
.cus-bg-opacity {
  @apply bg-opacity-10;
}
.cus-hover-opacity {
  @apply hover:opacity-[0.70];
}
.cus-outsidehandeler > div {
  @apply !h-full;
}
.blogs-wraper h2 {
  @apply text-[40px] font-bold text-[#122b2b]  font-mabry-pro leading-[69px] mb-2;
}
.blogs-wraper h3 {
  @apply text-3xl font-normal text-[#122b2b]  font-mabry-pro mb-4;
}
.blogs-wraper p {
  @apply text-[22px] font-normal text-[#122b2b]  font-mabry-pro leading-[32px] mb-4;
}
.blogs-wraper ul {
  @apply py-5 px-6 list-disc list-inside;
}
.blogs-wraper ul li {
  @apply text-[22px] font-normal text-[#122b2b]  font-mabry-pro leading-[32px] mb-4;
}
.my-location-slider .swiper-pagination {
  position: absolute !important;
  bottom: 10px !important;
  height: fit-content;
}

.my-location-slider .swiper-pagination-bullet {
  background-color: #f9f3ee;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.7 !important;
}

.my-location-slider .swiper-pagination-bullet-active {
  background: #f9f3ee !important;
  opacity: 1 !important;
}

.hero-slider .swiper-pagination-bullet {
  background-color: #f9f3ee;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.7 !important;
}

.hero-slider .swiper-pagination-bullet-active {
  background: #f9f3ee !important;
  opacity: 1 !important;
}
.hero-slider .swiper-pagination {
  position: absolute;
  bottom: 11px !important;
}
.home-hero-slider .swiper-pagination {
  position: absolute;
  bottom: 16px !important;
}
.home-hero-slider .swiper-pagination-bullet {
  background-color: #f9f3ee;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.7 !important;
}

.home-hero-slider .swiper-pagination-bullet-active {
  background: #f9f3ee !important;
  opacity: 1 !important;
}
.faqCards-wraper a {
  @apply hover:text-[#0056b3] text-[#007bff];
}
.faqCards-wraper ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}
/* Keep this class to hide elements */
.hide {
  display: none;
}

/* Style the "Show More" label to resemble a button */
.show-more-label {
  cursor: pointer;
  color: #007bff; /* Change color as needed */
  text-decoration: underline;
  outline: none;
}

/* Hide the checkbox */
.show-more-checkbox {
  display: none;
}

/* Show more content when the checkbox is checked */
.show-more-checkbox:checked + #itemList .hide,
.show-more-checkbox:checked + .show-more-label + #showMoreContent {
  display: block;
}

.move-up {
  transform: translateY(-20px); /* Adjust the distance the button moves up */
  transition: transform 0.5s ease; /* Adjust the duration and easing of the animation */
}
.double-meet-card {
  display: flex !important;
  gap: 40px !important;
  justify-content: center !important;
  max-width: 1024px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1024px) {
  .double-meet-card {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
    max-width: 100% !important;
  }
}
@media (min-width: 321px) and (max-width: 640px) {
  .dropdown-list {
    top: 49px;
  }
}
@media (max-width: 320px) {
  .dropdown-list {
    top: 64px;
  }
}
.single-meet-card {
  max-width: 484px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1024px) {
  .single-meet-card {
    max-width: 100% !important;
  }
}

.checkbox[type="checkbox"] {
  accent-color: #0b4141;
}

.lines_clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}
.home_swiper .swiper-pagination-bullets-dynamic {
  position: relative;
  z-index: 9999999;
  margin-top: -10px;
}
.home_swiper .swiper-slide{
  display: flex !important;
}

.location-dropdown > div {
  height: 100%;
}

.custom-blog-slug h1 {
  font-weight: 600;
  font-size: 40px;
  color: #003e3e;
}
.custom-blog-slug h1 strong {
  font-weight: 900;
}

.custom-blog-slug h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #003e3e;
}
.custom-blog-slug p {
  margin-bottom: 16px;
  color: #003e3e;
}
.custom-blog-slug img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .custom-blog-slug img {
    width: 100%;
  height: auto;

    object-fit: cover;
  }
}
.custom-blog-slug .wp-block-media-text {
  margin-top: 24px;
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  /* columns: 2; */
  gap: 48px;
}
.custom-blog-slug .wp-block-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #003e3e;
}
.custom-blog-slug ul {
  list-style-type: disc;
  list-style-position: outside;
  font-size: 16px;
  padding-left: 24px;
  margin: 0px 0px 16px 0px;
}
.custom-blog-slug ul li a {
  cursor: pointer;
  text-decoration: underline;
  color: #0156B3;
}
.custom-blog-slug ol {
  list-style: auto;
  list-style-position: outside;
  margin: 16px 0px;
  padding-left: 24px;;
}
.custom-blog-slug p strong {
  font-size: 18px;
  font-weight: bold;
}
.custom-blog-slug {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Mabry Pro";
}
.custom-blog-slug p a {
  color: #007bff;
}
.custom-blog-slug p a:hover {
  text-decoration: underline;
  color: rgb(0, 86, 179);
}

